body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: rgb(31, 30, 34); */
    color: white;
    background: #1a1a1a;
    --gap: 5em;
    --line: 1px;
    --color: rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(-90deg, transparent calc(var(--gap) - var(--line)), var(--color) calc(var(--gap) - var(--line) + 1px), var(--color) var(--gap)), linear-gradient(0deg, transparent calc(var(--gap) - var(--line)), var(--color) calc(var(--gap) - var(--line) + 1px), var(--color) var(--gap));
    background-size: var(--gap) var(--gap);
}

#colorSelectorsContainer label {
    margin-right: 5px;
}

#lottie-container {
    width: 500px;
    height: 500px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: solid 1px black;
    background-color: white;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    #lottie-container {
        width: 300px;
        height: 300px;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}